.text {
  position: relative;   /* span이 이 영역을 기준으로 absolute 포지셔닝 */
  display: inline-block;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;

  width: 100%;
  color: rgba(182, 182, 182, 0.2);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1, .5, .5, 1) 0.5s;

  position: relative;
  display: inline-block;
}

.text span {
  top: 0;   /* 부모의 맨 위에 붙임 */
  left: 0;  /* 부모의 맨 왼쪽에 붙임 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4246ce;
  color: #0D0D0D;

  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1, .5, .5, 1) 0.4s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
